/* Bottone Generico */
.button-49-login,
.button-49-login:after {
    width: 120px;
    height: 60px;
    line-height: 62px;
    font-size: 16px;
    background: linear-gradient(45deg, transparent 5%, #00FF00 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #FF6600;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .button-49-login:after {
        --slice-0: inset(50% 50% 50% 50%);
        --slice-1: inset(80% -6px 0 0);
        --slice-2: inset(50% -6px 30% 0);
        --slice-3: inset(10% -6px 85% 0);
        --slice-4: inset(40% -6px 43% 0);
        --slice-5: inset(80% -6px 5% 0);
        content: 'gniLo';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
        text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #000000;
        clip-path: var(--slice-0);
    }

    .button-49-login:hover:after {
        animation: 1s glitch;
        animation-timing-function: steps(2, end);
    }

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

/* Bottone Registrazione */
.button-49-registrazione,
.button-49-registrazione:after {
    width: 150px;
    height: 60px;
    line-height: 20px;
    font-size: 16px;
    background: linear-gradient(45deg, transparent 5%, #00FF00 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #FF6600;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .button-49-registrazione:after {
        --slice-0: inset(50% 50% 50% 50%);
        --slice-1: inset(80% -6px 0 0);
        --slice-2: inset(50% -6px 30% 0);
        --slice-3: inset(10% -6px 85% 0);
        --slice-4: inset(40% -6px 43% 0);
        --slice-5: inset(80% -6px 5% 0);
        content: 'isetRngiorae';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
        text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #000000;
        clip-path: var(--slice-0);
    }

    .button-49-registrazione:hover:after {
        animation: 1s glitch;
        animation-timing-function: steps(2, end);
        width: 270px;
    }

/* Bottone Login */
.button-49-login,
.button-49-login:after {
    width: 120px;
    height: 60px;
    line-height: 62px;
    font-size: 16px;
    background: linear-gradient(45deg, transparent 5%, #00FF00 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #FF6600;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .button-49-login:after {
        --slice-0: inset(50% 50% 50% 50%);
        --slice-1: inset(80% -6px 0 0);
        --slice-2: inset(50% -6px 30% 0);
        --slice-3: inset(10% -6px 85% 0);
        --slice-4: inset(40% -6px 43% 0);
        --slice-5: inset(80% -6px 5% 0);
        content: 'nigoL';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
        text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #000000;
        clip-path: var(--slice-0);
    }

    .button-49-login:hover:after {
        animation: 1s glitch;
        animation-timing-function: steps(2, end);
    }

/* Media query per dimensioni più grandi su schermi più larghi */
@media (min-width: 768px) {
    .button-49,
    .button-49:after {
        width: 150px;
        height: 75px;
        line-height: 75px;
        font-size: 18px;
    }

    .button-49-registrazione,
    .button-49-registrazione:after {
        width: 120px;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
    }

    .button-49-login,
    .button-49-login:after {
        width: 120px;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
    }
}

/*Sfondo*/
body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1153%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1154%26quot%3b)'%3e%3c/rect%3e%3cpath d='M557 486L556 273' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1155%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M349 528L348 870' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1155%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M927 547L926 245' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1156%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1020 212L1019 -133' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1156%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M579 45L578 -212' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1157%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1427 421L1426 137' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1157%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M452 386L451 729' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1158%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M122 271L121 -88' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1156%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M627 279L626 508' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1157%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M32 106L31 -125' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1156%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M170 169L169 -141' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1158%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M205 391L204 215' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1156%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1237 350L1236 654' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1155%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M351 207L350 575' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1157%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M366 484L365 647' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1156%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1090 536L1089 791' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1157%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M244 97L243 380' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1155%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M29 461L28 809' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1157%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1218 540L1217 815' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1157%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M977 226L976 598' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1158%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1174 100L1173 498' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1158%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1060 547L1059 810' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1156%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M112 434L111 828' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1156%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M440 172L439 421' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1155%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1354 328L1353 625' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1156%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M71 483L70 735' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1155%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1366 490L1365 877' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1157%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M777 214L776 374' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1157%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1203 222L1202 474' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1158%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M894 188L893 391' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1156%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1037 0L1036 175' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1156%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M995 498L994 756' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1157%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1419 21L1418 -267' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1155%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1201 510L1200 909' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1156%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M524 71L523 -288' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1157%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1116 461L1115 787' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1157%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1153'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='139.29%25' x2='84.72%25' y2='-39.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1154'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1155'%3e%3cstop stop-color='rgba(255%2c 102%2c 0%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 102%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1156'%3e%3cstop stop-color='rgba(255%2c 102%2c 0%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 102%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1157'%3e%3cstop stop-color='rgba(0%2c 255%2c 0%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 255%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1158'%3e%3cstop stop-color='rgba(0%2c 255%2c 0%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 255%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: repeat;
}

/*Footer*/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 60px;
}

/*Login*/
.card-body-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group-login {
    text-align: center;
}

    .form-group-login button {
        margin-bottom: 10px;
    }

    .form-group-login .first-label {
        margin-top: 10px;
    }
